@{
    Layout = null;
}
@model XlsToEf.Core.Import.ImportViewInfo

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">@Model.UploadTitle</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

</div>
<div class="modal-body">


    <span class="btn btn-success fileinput-button btn-primary">
        <span>Select File</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="uploadfile">
    </span>
    
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <div id="destinations">

    </div>
    <div id="sheets">
        
    </div>


    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" id="matcherDisplay">
        <thead>
            <tr>
                <th>#</th>
                <th>Source Column</th>
                <th>Target Column</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="matchRows"></tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" id="ap-export" style="display:none">Export Results</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="ap-close">Cancel</button>
    <button type="button" class="btn btn-primary" id="ap-run">Import</button>
</div>


    
<script>
    $(function () {
        App.Import.ImportReady('@Model.UploadUrl', '@Model.UploadTitle', '@Model.ModalId');
    }); 
</script>